{{>header}}
<h1>{{title}}</h1>

<div id="products">
    <h2>All Products in Selected Category</h2>
    <ul>
        {{#each products}}
        <li>
            <h3>{{name}}</h3>
            <p>{{description}}</p>
            <p>Price: {{price}}</p>
            <p>Quantity: {{quantity}}</p>
        </li>
        {{/each}}
    </ul>
</div>

{{>footer}}